@use 'variables' as *;
@use 'sass:color';

@mixin dark-scheme {
  color: $dark-text-color;
  background: $dark-body-bg;
  transition: background-color 1s ease-out, color 1s ease-in;

  a {
    text-decoration: underline;
    color: $dark-text-color;
    transition: color 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);

    &:hover {
      color: color.adjust($dark-text-color, $lightness: 20%);
      text-decoration: underline;
    }
  }

  .content {
    a {
      color: $dark-link-color;
      text-decoration: none;

      &:not(.button) {
        text-shadow: 0px 1px 0px #000;
      }

      &:hover {
        // color: lighten($dark-link-color, 20%);
        color: color.adjust($dark-link-color, $lightness: 20%);
      }
    }

    .subtitle, .meta {
      color: color.adjust($dark-text-color, $lightness: -20%);
    }
  }

  .card {
    box-shadow: 0rem 0.25rem 0.5rem #000000;
  }

}

@mixin light-scheme {
  color: $light-text-color;
  background: $light-body-bg;

  a {
    text-decoration: none;
    color: $light-link-color;

    &:not(.button) {
      text-shadow: none !important;
    }

    &:hover {
      color: color.adjust($light-link-color, $lightness: -50%);
    }
  }

  .content {
    a {
      color: $light-link-color;
      text-decoration: none;

      &:hover {
        color: color.adjust($light-link-color, $lightness: -15%) !important;
      }
    }

    hr:after {
      color: color.adjust($light-text-color, $lightness: 25%) !important;
    }

    .subtitle, .meta {
      color: color.adjust($light-text-color, $lightness: 25%) !important;
    }


  }

  .card {
    box-shadow: 0rem 0.25rem 0.5rem color.adjust($light-text-color, $lightness: 70%);
  }
}
