---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - blog
    - draft
  addAllPagesToCollections: true
layout: page
eleventyComputed:
  title: "Tagged with \"{{ tag }}\""
permalink: /tags/{{ tag | slug }}/
---

{% for post in collections[tag] reversed %}
<div class="card">
  <h2 class="title">
    <a href="{{ post.url | url }}">{{ post.data.title | escape }}</a>
  </h2>
  {% if post.data.description %}
  <p class="subtitle">{{ post.data.description | escape }}</p>
  {% endif %}
  <p class="meta small">{{ post.date | date: "%b %d, %Y" }}</p class="meta small">
</div>
{% endfor %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
