---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <section class="section">

    <header class="container">
      <div class="columns is-centered">
        <div class="column is-four-fifths-desktop is-two-thirds-widescreen has-margin-bottom-large">
          <h1 class="title is-spaced" itemprop="name headline">{{ page.title | xml_escape }}</h1>

          {% if page.description %}
          <p class="subtitle has-text-grey" itemprop="description">{{ page.description | xml_escape }}</p>
          {% endif %}
          {% if page.image %}
          <div class="box has-margin-bottom">
            <figure class="image" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
              <img src="{{ page.image | absolute_url }}" alt="{{ page.title }}" class="cover"
                  itemprop="url">
              <meta itemprop="width" content="740">
              <meta itemprop="height" content="300">
            </figure>
          </div>
          {% endif %}
          <div class="level">
            <div class="level-left">
              <p class="post-meta has-text-grey-light">
                Posted on:
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                  {{ page.date | date: "%b %-d, %Y" }}
                </time>
                <span class="is-invisible">by
                  <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span itemprop="name">Kaustav Das Modak</span>
                    <link href="{{ '/about-me/' | absolute_url }}" itemprop="url">
                  </span>
                </span>
              </p>
            </div>
            {% if page.tags.size > 0 %}
            <div class="level-right">
              <div class="tags">
                {% include parsetags.html tags=page.tags %}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="columns is-centered">
        <div class="column is-four-fifths-desktop is-two-thirds-widescreen">
          <div itemprop="articleBody" class="content is-medium">{{ content }}</div>
        </div>
      </div>
    </div>
  </section>

</article>
