---
layout: default
---

<div class="tags-page paginated-page-{{ paginator.page }}">

    <h1 class="page-heading">Tag: {{ page.tag }}</h1>
    <div class="meta">
        <a href="{{ site.baseurl }}/{{ site.tag_page_dir }}/{{ page.tag | slugify }}.xml" class="button button-link">
            Subscribe to this tag
        </a>
    </div>
    <ul class="post-list">
        {% for post in page.posts %}
        <li>
            <div class="post-info">
                <h2 class="post-info-title">
                    <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
                </h2>
                <span class="post-meta">{{ post.date | date: "%b %d, %Y" }}</span>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>
