---
layout: base
---

<article itemscope itemtype="http://schema.org/BlogPosting" class="container">
  <section>
    <header>
      <h1 itemprop="name headline" class="title">
        <a href="{{ url }}">{{ title | escape }}</a>
      </h1>

      {% if description %}
      <p itemprop="description" class="subtitle">
        {{ description | escape }}
      </p>
      {% endif %}

      {% if image %}
      <figure
        itemprop="image"
        itemscope
        itemtype="https://schema.org/ImageObject"
        class="cover-image"
      >
        <img
          src="{{ image | url }}"
          alt="{{ title }}"
          itemprop="url"
          class="card"
        />
      </figure>
      {% endif %}

      <div class="meta">
        <p class="small">
          Posted on:
          <time
            datetime="{{ page.date | date_to_xmlschema }}"
            itemprop="datePublished"
          >
            {{ page.date | date: "%b %d, %Y" }}
          </time>
            by
            <span
              itemprop="author"
              itemscope
              itemtype="http://schema.org/Person"
            >
              <span itemprop="name">{{ author.name }}</span>
              <link
                href="{{ author.url }}"
                itemprop="url"
              />
            </span>
        </p>
        {% assign tagList = {{ tags | filterTags }} %}
        {% if tagList %}
          <p class="small">Tags:
            {% for t in tagList %}
              <a href="/tags/{{ t | slug | url }}">{{ t }}</a>
            {% endfor %}
          </p>
        {% endif %}
      </div>
    </header>

    <div itemprop="articleBody" class="content">
      {{ content | safe }}
    </div>
  </section>
</article>
