<div class="container">
  <div class="columns is-mobile is-multiline is-centered">
    <div class="column is-6-mobile is-3-tablet is-2-desktop">
      <figure class="image is-square">
        <img src="/assets/images/kido.jpg" alt="Kaustav Das Modak">
      </figure>
    </div>
    <div class="column is-full-mobile is-half-desktop has-text-centered-mobile">
      <h1 class="title is-size-4-mobile">Kaustav Das Modak</h1>
      <p class="subtitle is-size-6-mobile has-text-grey-light">Technology professional; Developer Relations consultant</p>
      <p class="subtitle is-size-6-mobile">Helping newer technologies reach wider adoption among developers and
        early adopters.</p>
      <div class="buttons is-centered-mobile">
        <a href="/about-me/" class="button is-light is-outlined">Know more</a>
        <a href="/contact/" class="button is-primary is-outlined">Get in touch</a>
      </div>
    </div>
  </div>
</div>
