<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-narrow">
          <figure class="image is-200x200 has-margin-centered">
            <img src="/assets/images/kido.jpg" alt="Kaustav Das Modak">
          </figure>
        </div>
        <div class="column is-half">
          <h1 class="title is-size-4-mobile">Kaustav Das Modak</h1>
          <p class="subtitle is-size-6-mobile has-text-grey-light">Technology professional; Developer Relations consultant</p>
          <p class="subtitle is-size-6-mobile">Helping newer technologies reach wider adoption among developers and
            early adopters.</p>
          <div class="buttons">
            <a href="/about-me/" class="button is-light is-outlined">Know more</a>
            <a href="/contact" class="button is-primary is-outlined">Get in touch</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
