<footer class="footer">
  <div class="container">
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Follow</p>
          <div class="buttons has-addons">
            <a class="button" href="https://github.com/kaustavdm" title="kaustavdm on Github">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
            </a>
            <a class="button" href="https://twitter.com/kaustavdm" title="@kaustavdm on Twitter">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="level-item has-text-centered">
          <div>
            <p>
              <a href="http://creativecommons.org/publicdomain/zero/1.0/" rel="license cc:license" target="_blank"
              title="Except where otherwise noted, this work has been dedicated to the public domain using CC0."
              class="">
                <span>No rights reserved</span>
                <span class="icon is-small"><img src="{{ '/assets/images/zero.svg' | relative_url }}" alt="CC0" /></span>
              </a>
            </p>
          </div>
        </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Feeds</p>
          <div class="buttons has-addons">
            <a class="button" href="{{ " /feed.xml " | prepend: site.baseurl }}" title="Subscribe via RSS">RSS</a>
            <a class="button" href="{{ " /atom.xml " | prepend: site.baseurl }}" title="Subscribe via Atom">Atom</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
