<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

  <title>{{ page.title | default: site.title | strip_html }}</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Noto+Serif:300,400,700" rel="stylesheet" type="text/css">
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">
  {% unless page.image %}
  <meta property="og:image" content="{{ '/assets/images' | absolute_url}}/kaustav-das-modak-collage.jpg" />
  {% endunless %}
  {% feed_meta %}
  {% seo title=false %}
</head>
