<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/" title="Homepage">
        <span class="icon is-large">
          <i class="fas fa-2x fa-user-circle" aria-hidden="true"></i>
        </span>
        <span><code>../</code></span>
      </a>
      <button id="navbar-toggle" class="button navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item is-large" href="/blog/"
          title="Writings on this site">
          <span class="icon is-large">
            <i class="fas fa-2x fa-pen-square" aria-hidden="true"></i>
          </span>
          <span>Blog</span>
        </a>
        <a class="navbar-item is-large" href="https://medium.com/@kaustavdm"
          title="Writings on Medium">
          <span class="icon is-large">
            <i class="fab fa-2x fa-medium"></i>
          </span>
          <span>Medium</span>
        </a>
        <a class="navbar-item is-large" href="https://in.linkedin.com/in/kaustavdm/"
          title="LinkedIn profile">
          <span class="icon is-large">
            <i class="fab fa-2x fa-linkedin"></i>
          </span>
          <span>LinkedIn</span>
        </a>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function () {
    var t = document.getElementById('navbar-toggle')
    var m = document.getElementById('navbar-menu')

    t.addEventListener('click', function (e) {
      e.preventDefault()
      t.classList.toggle('is-active')
      m.classList.toggle('is-active')
    })
  })
</script>
