{% if include.tags.size > 0 %}
  {% assign parsedtags = '' %}
  {% assign sortedtags = include.tags | sort %}
  {% for t in sortedtags %}
    {% assign tag = site.tagslist | where: "slug", t %}
    {% assign tag = tag[0] %}
    {% if tag %}
      {% capture tmp_parsed %}
        <a href="{{ '/tag/' | append: tag.slug | relative_url }}">{{ tag.title }}</a>\n
      {% endcapture %}
      {% assign tmp_parsed = tmp_parsed | strip %}
      {% assign parsedtags = parsedtags | append: tmp_parsed %}
    {% endif %}
  {% endfor %}
  {% if parsedtags.size > 0 %}
    Tags: {{ parsedtags | split: "\n" | join: ", " }}
  {% endif %}
{% endif %}
